[[language]]
name = "python"
formatter = { command = "black", args = ["--quiet", "-"] }
auto-format = true

# [language-server.pylsp.config]
# pylsp.plugins.pylint.enabled = true
# pylsp.plugins.pylint.args = ["--disable=missing-function-docstring", "--disable=missing-class-docstring", "--disable=missing-module-docstring"]
# pylsp.plugins.flake8.enabled = false
# pylsp.plugins.rope.enabled = false
# pylsp.plugins.pyflakes.enabled = false
# pylsp.plugins.mccabe.enabled = false
# pylsp.plugins.pycodestyle.enabled = false
# pylsp.plugins.pydocstyle.enabled = false
# pylsp.plugins.autopep8.enabled = false
# pylsp.plugins.yapf.enabled = false

[[language]]
name = "json"
formatter = { command = 'prettier', args = ["--parser", "json"] }
auto-format = true

[[language]]
name = "html"
formatter = { command = 'prettier', args = ["--parser", "html"] }
auto-format = true

[[language]]
name = "css"
formatter = { command = 'prettier', args = ["--parser", "css"] }
auto-format = true

[[language]]
name = "javascript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "jsx"
language-servers = [ "typescript-language-server", "tailwindcss-ls" ]
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "typescript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "tsx"
language-servers = [ "typescript-language-server", "tailwindcss-ls" ]
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true
